@import url('./reset.css');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 36px;
    padding-left: 156px;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 346px;
    margin-bottom: 20px;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form input[type="number"] {
    border: 1px solid #808080;
    border-radius: 4px;
    padding: 8px 16px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.04em;
    text-align: left;
}
.form input[type="number"]:hover{
    border-color: #2E2F42;
}
.form input[type="number"]:focus {
    outline: none;
    border-color: #4E75FF;
    box-shadow: 0 0 0 1px rgba(78, 117, 255, 0.5);
}

.form input[type="number"]:disabled {
    border: 1px solid #808080;
    color: #808080;
    cursor: not-allowed;
}

.form fieldset {
    border: none;
    display: flex;
    gap: 16px;
    border: 1px solid #808080;
    border-radius: 4px;
    padding:  24px 48px 8px 48px;
}
.form fieldset:hover{
    border: 1px solid #000000;
}


.form fieldset legend {
    margin-bottom: 0;
    padding: 0;
    margin-left: -24px; 
}
.form fieldset label{
    flex-direction: row;
    gap: 4px;
    
}

.form input[type="radio"] {
    accent-color: #4E75FF;
    width: 20px;
}

.form button[type="submit"] {
    padding: 8px 16px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4E75FF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: Montserrat;
    letter-spacing: 0.04em;
}

.form button[type="submit"]:disabled {
    background-color: #CFCFCF;
    color: #989898;
    cursor: not-allowed;
}

.form button[type="submit"]:hover:not(:disabled) {
    background-color: #6C8CFF;
}

.page-nav {
    font-size: 16px;
    font-weight: 700;
    color: #007bff;
    text-decoration: none;
}